.idea/
.venv/
venv/

# Python
__pycache__/
*.pyc

# Env files
.env
.env.*
!.env.example

# Keys / certificates
*.pem
*.key
*.crt

# Secrets folders
secrets/

# Local databases
*.sqlite3
*.db
*.sql
*.dump
*.sql.gz

# Logs
*.log

# Uploads
uploads/

# Frontend
Front/.env
Front/node_modules
Front/dist

# Gunicorn
gunicorn.ctl