# IDE / venv
.idea/
.venv/
venv/

# Python
__pycache__/
*.pyc

# Env files
.env
.env.*
!.env.example

# Keys / certificates
*.pem
*.key
*.crt

# Secrets folders
secrets/

# Local databases
*.sqlite3
*.db

# Alembic local config
alembic.ini